# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Node / React
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Python / Flask
# =========================
backend/venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Database Files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# VS Code / IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?